* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Tahoma;
}

header {
	width: 100%;
	padding: 20px 0;
	background-color: black;
	color: white;
	text-align: center;
}

.header-center {
	width: 50%;
	margin: auto;
}

header h1 {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
}

main {
	width: 60%;
	margin: 2% auto;
	padding: 2%;
	border: 1px solid gray;
}

main h2 {
	margin-bottom: 2%;
}

main section {
	margin-bottom: 5%;
}

.container {
	display: inline-block;
	width: 49%;
	margin-bottom: 2%;
}

.container input {
	width: 100%;
	min-width: 300px;
	font-size: 1.5rem;
}

#rate, #time{
	max-width: 78%;
	min-width: 0;
	padding: 1px 0;
	border: 1px solid gray;
	border-radius: 3px;
}

select {
	width: 20%;
	min-width: 9ch;
	margin-left: -6px;
	padding: 0.75em 0 0.2em 0;
	border: 1px solid gray;
}

.buttons {
	display: grid;
	grid-template-columns: 6rem 1fr 6rem;
}

.btn {
	grid-column: 1;
	font-size: 1rem;
	padding: 0.5rem 0;
	border-radius: 5px;
	text-align: center;
	background-color: red;
	color: white;
}

.btn--clear {
	grid-column: 3;
	background-color: white;
	color: black;
	border: none;
}

.btn--clear:hover {
	background-color: lightgray;
}

.btn--clear:active, .btn--clear:focus {
	border: 2px solid black;
}

.totals {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	text-align: center;
	padding: 1rem 2rem;
	background-color: lightgray;
	border-radius: 5px;
	border: 2px solid black;
}

.red {
	margin-right: 0;
	background-color: red;
	color: white;
}

#result-table {
	margin-top: 2%;
	text-align: center;
	border: 1px solid black;
	border-spacing: 0;
}

#result-table th{
	background-color: rgb(255, 100, 100);
}

#result-table td, th{
	width: 10rem;
}

.month {
	width: 8rem;
}

.gray {
	background-color: rgb(200, 200, 200);
}

#result-table span {
	font-size: 0.8rem;
	color: gray;
}
